
.header {
    background: none repeat scroll 0 0 #3A3A3A;
    color: #EEE;
    line-height: 30px;
    overflow: auto;
}

.header a {
    color: #EEE;
    text-decoration: none;
}

.header-menu {
    float: left;
    height: 30px;
}

.header-menu ul {
    display: inline;
    margin: 0px;
}

.header-menu li a {
    color: #EEE;
    text-decoration: none;
    background: none repeat scroll 0 0 #4F4F4F;
    padding:5px;
}

.header-menu li a:hover {
    background: none repeat scroll 0 0 #000000;
}

.header li {
    list-style: none outside none;
    display: inline;
    padding-right: 20px;
}

.header-title {
    float: right;
    padding-right: 20px;
}

.sub-menu ul {
    display: inline;
}

.sub-menu li {
    list-style: none outside none;
    display: inline;
    padding-right: 10px;
    float: left;
}

.sub-menu {
    background: none repeat scroll 0 0 #3A3A3A;
    color: #EEE;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    display: block;
}

.sub-menu li a {
    color: #EEE;
    text-decoration: none;
    background: none repeat scroll 0 0 #4F4F4F;
    padding-left: 5px;
    padding-right: 5px;
}

.sub-menu li a:hover {
    background: none repeat scroll 0 0 #000000;
}

.body {
    clear: both;
    display: block;
    position: relative;
    margin: 10px auto;
    padding: 5px 20px;
}

.body th {
    padding: 0px 10px;
}

.body td {
    padding: 0px 10px;
}

.mark-feed-read {
    display: inline;
    float: right;
    padding: 3px;
}

a {
    text-decoration: none;
}

a:link {
    color: #44a;
}

a:hover {
    color: #d11;
}

a:visited {
    color: #aaa;
}

input[type="submit"] {
    background-color: #333;
    color: #ddd;
    border: none;
    padding: 4px 8px 4px 8px;
    margin: 3px;
    border-radius: 2px;
}

.button-form {
    display: inline;
}

input[type="text"] {
    border-style: solid;
    border-width: 1px;
    border-color: #555;
    margin: 2px;
    width: 80%;
}

.edit-form {
    background-color: #ccc;
    padding: 5px;
    padding-left: 40px;
}

.unread-feed {
    padding: 2px;
    margin: 2px;
    border-top: 2px solid #444;
}

.feed-item-list {
    margin: 10px;
}

.error {
    display: block;
    padding: 10px;
    background: #fcc;
}
